.unorderd {
    list-style-type: square;
    line-height: 200%;
}
.nested-ul {
    list-style-type: circle;
}
.list-image {
    list-style: none;
    padding-left: 0;
}
.list-image li {
    position: relative;
    padding-left: 30px;
    line-height: 170%;
}
.list-image li:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url(ninja.png);
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.popular-sites {
    list-style: none;
    padding-left: 0;
}
.popular-sites li {
    position: relative;
    padding-left: 30px;
    line-height: 170%;
}
.popular-sites li:before { 
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url(ninja.png);
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

table, th,td {
    border: 1px solid rgb(0, 0, 0); /*Color Black*/
    border-collapse: collapse;    
}
th, td {
    padding: 15px;
    text-align: center;
}
caption {
    caption-side: bottom;
    text-align: center;
    font-size: italic;
    font-weight: bold;
    color: rgb(0, 0, 0); /*Color Black*/
}
.table-simple {
    background-color: rgb(0, 0, 0); /*Color Black*/
    color: rgb(255, 255, 255); /*Color White*/
}
.table-simple tr:nth-child(even) {
    background-color: #da1616;
}
.table-simple tr:nth-child(odd) {
    background-color: rgb(245, 117, 117);
}
.table-simple tr:hover {
    background-color: #1f8d68;
}

.head-body-foot thead {
    color: rgb(128, 0, 128); /*Color Purple*/
    background-color: rgb(243, 136, 13);
}
.head-body-foot tbody {
    color: rgb(182, 212, 182);
    font-weight: bold;
    background-color: rgb(68, 39, 177);
}
.head-body-foot tfoot {
    color: rgb(5, 4, 0);
    background-color: rgb(277, 231, 233);
    font-weight: bold;
}
.head-body-foot thead:hover {
    background-color: #acffe3;
}
.head-body-foot tbody:hover {
    background-color: #da1616;
}
.head-body-foot tfoot:hover {
    background-color: #1f8d68;
}

.many-columns {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #ff2424;
    border-style: double;
    color: #000000;  
}
.many-columns td, th {
    border-width: 2px;
    border-color: #ff2424;
    border-style: double;
    padding: 10px;
}
.many-columns thead {
    background-color: #42d0ff;
}

.table-image {
    margin: 0 auto;
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #b30505;
    border-style: double;
    color: #000000;
}
.table-image td, th {
  border-width: 2px;
  border-color: #b30505;
  border-style: double;
  padding: 10px;
}
.table-image thead {
  background-color: #ff0000;
}
