.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: whitesmoke;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-decoration: underline;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #585858;
}

/* Title */
h1 {
    color: #932432;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
    font-size: 250%;
    text-decoration: underline;
    text-shadow: 1px 1px #111;
    text-transform: capitalize;
   }

 /* Text */
p {
    color: #932432;
    letter-spacing: 0.7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center; 
    font-variant-caps: petite-caps; 
}

/* Topnav/Bar */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
  }
   
  ul.topnav li.right {float: right;}

  .unordered {
background-color: #952A12;
padding: 20px;
width: 30%;
font-family: Arial, Helvetica, sans-serif;
  }
  .unordered li {
      background: #D63D1B;
      margin: 5px;
  }
  .nested-ul li {
      background: #FF6E4D;
      margin: 5px;
  }

  .ordered {
      background: #044294;
      padding: 10px;
      width: 20%;
      font-family: Georgia, serif;
      font-size: 1.3em;
  }

  .ordered li {
      background: #5f94f8;
      padding: 10px;
      margin-left: 20px;
  }

  .custom-box-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
  }
  .custom-box-list li {
      counter-increment: step-counter;
      margin-bottom: 10px;
  }
  .custom-box-list li::before {
      content: counter(step-counter);
      margin-right: 5px;
      font-size: 80%;
      background-color: rgb(24, 92, 22);
      color: white;
      font-weight: bold;
      padding: 3px 8px;
      border-radius: 10px 100px / 120px;
  }

.scroll-bar {
    overflow-x: auto;
}
